*{ margin: 0cm;
  padding: 0em;}

.menufont{
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 20px;
    margin-right: 1em;
       
} 
.navbar-nav > li > .dropdown-menu { background-color:rgb(106, 230, 75); font-size: 20px;}
.navbar-nav > li > .dropdown-menu a{ color: white}

.container-fluid{   
    background-color: rgb(53, 211, 21);
      
}
.carousel-inner{
    max-height: 90vh;
}
 .carousel-caption h3{
    font-size: 40px;
    text-transform:none;
    font-style: italic;
    font-family: cursive;
    text-align: left;
    padding-left: 0em;
}
  .carousel-caption p{
    padding-bottom:16em;
    text-align: left;
}
.highlighted{
  color:#fff;
  background-color:rgb(55, 228, 84);
 }
footer{
  background-color: rgb(20, 201, 186);
  position: fixed;
  line-height: 7px;
  left: 0;
   bottom: 0;
   width: 100%;
   height:10px ;
  
 }
 .text-center a{
  padding: 1em;
  size: 2em;
  margin-right: 3em;
 }
.signup{
  margin-top: 1em;
  padding: 3em;
  padding-left: 5em;
}
/* .Login{
  
  margin-top: 1em;
  padding: 3em;
  float: right;
  padding-right: 5em; */
   
#login{
  background-color: #fffffff5;
    max-width: 600px;
    margin: 10 auto;
    padding-bottom: 10px;
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.3);
    border-bottom: 5px solid #018fb4;
    border-radius: 10px 10px 0 0;
   
    
}

#signinid{
  
    display: block;
    margin: 10em auto;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    padding:  20px;
    line-height: 1em;
    text-align: left;
    
  }

#background{
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
 

}
h1 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: normal;
  padding: 15px 20px;
  background-color: rgb(1, 144, 180);
  box-shadow: 0px 3px 6px #42424299;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  border-bottom: solid 3px #fbb110;
  
}
.logincont{
  margin: 80px auto;
  width: 90%;
  max-width: 800px;
  
}
.login{
display: inline-block;
}
label { 
  display: block;
  margin: 10px auto;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  padding: 0 20px;
}

h2 {
    font-size: 2.5rem;
    color: #fff;
    font-weight: normal;
    padding: 15px 20px;
    background-color: rgb(1, 144, 180);
    box-shadow: 0px 3px 6px #42424299;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    border-bottom: solid 3px #fbb110;
    padding: auto;
}


.cont{
    margin: 80px auto;
    width: 90%;
    max-width: 800px;
}



fieldset {
  padding: 0;
  border: 0;
}
.inputgrp{

    padding:1px
}
label{
    font-weight: 450;
}



/* Buttons, Input Type Submit/Reset ------------------ */

button,
input[type="button"],
input[type="submit"] 
{
  height: 40px;
  width: 100%;
 
  background-color: rgb(250, 183, 15);
  padding: calc( 40px / 5 );
  cursor: pointer;
  color: rgb(40, 40, 40);
  font-weight: 700;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
}


input:focus, button:focus  {
  background-color: rgb(250,250,250);
  border-color: #000;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover,
button:focus, input[type="button"]:focus, input[type="submit"]:focus {
  background-color: rgb(255, 219, 58);
  color: rgb(40, 40, 40);
}
p{
  text-align: center;
}

.psw{
margin-left: 1em;
}

